@import '../main.scss';
div.form_container{
    position: absolute;
    width:50%;
    height:70vh;
    padding:20px;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
    text-align: center;
    background:white;
    box-shadow: 1px 1px 20px 20px $shadow;
}

div.form_header{
    padding:20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    color:gray;
}
div.form{
    display: flex;
    flex-direction: column;
}
input.text,button.submit{
    position: relative;
    padding:7px 10px;
    margin:10px;
    background:none;
    outline: none;
    border-radius: 10px;
    border:1px solid $acc;
}
input.text::placeholder{
    color:$acc;
}
div.field{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin:10px 0px;
    small{
        opacity: 0;
        transition:0.3s;
        color:$acc;
    }
}
div.button{
    text-align: left;
}
button.submit{
    position: relative;
    width:300px;
    margin-top:20px;
    left:50%;
    transform: translateX(-50%);
    margin:10px 0px;
    background:$acc;
    color:white;
    transition:0.5s;
}
button.submit:hover{
    background:white;
    color:$acc;
    box-shadow: 1px 1px 10px 10px $shadow;
}
div.field:hover{
    small{
        opacity: 1;
    }
    input::placeholder{
        opacity: 0;
    }
}