@import '../main.scss';
header div.content{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 30px 5px $shadow;
}

div.image{
    position: relative;
    background:$dark_acc;
    height:50vw;
    max-height: 80vh;
}
div.landing_text{
    background:whitesmoke;
    text-align: center;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section.contacts{
    text-align: center;
    background:$acc;
    color:white;
    height: 50vh;
}
div.contacts_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.contacts_body{
    padding:10px;
    h3.title{
        margin-bottom: 20px;
    }
}
.super_title{
    font-size: 4em;
    font-weight: lighter;
    color:$dark_acc;
    opacity: 0.8;
}
.card_paragraph{
    font-size: 1.3em;
}