*{
    padding: 0px;
    margin:0px;
}
div.check{
    position: fixed;
    background: white;
    z-index: 10;
}
div.landing{
    height:100vh;
    width:100vw;
    overflow: hidden;
}
div.labels{
    position: absolute;
    display: flex;
    left:50%;
    bottom: 10px;
    background: none;
    transform: translateX(-50%);
}
input{
    display:none;
}
div.slide{
    height:100%;
    width:400%;
    display:flex;
}
div.s{
    position: relative;
    width:25%;
    height: 100%;
    transition: 1s;
}
div.s img{
    position: relative;
    width:100%;
    height:100%;
}
.nav{
    position: relative;
    margin:0px 5px;
    height:10px;
    width:30px;
    background: white;
}
#r1:checked ~ .s{
    left:0%;
}
#r2:checked ~ .s{
    left:-25%;
}
#r3:checked ~ .s{
    left:-50%;
}
#r4:checked ~ .s{
    left:-75%;
}