<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F1 Simulator</title>
    <link rel="stylesheet" href="../static/css/shared.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
</head>
<body>
    <div class="topnav">
        <div><h3><i>F1</i></h3><h4>Simulator</h4></div>
        <ul class="nav">
            <a href="#"><li>Home</li></a>
            <a href="login.html"><li>Login</li></a>
            <a href="signup.html"><li>SignUp</li></a>
        </ul>
    </div>
    <div class="landing">
            <div class="card">
                <h3>Dear Petrol heads</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, dicta!</p>
            </div>
        </div>
    <div class="content">
        <div class="module">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, harum. Esse soluta commodi non accusantium? Ipsam recusandae quibusdam aperiam culpa placeat, inventore, voluptatibus nesciunt, error voluptas in laudantium quos assumenda.</p>
        </div>
        <div class="module">
            <h3>How to play</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus adipisci soluta harum accusamus error eum obcaecati consectetur officiis ad velit. Dolorem libero explicabo obcaecati nulla perspiciatis aspernatur consequatur nisi ea.</p>
        </div>
    </div>
    <div class="contact">
        <div class="module">
        <div class="contacts">
            <h3>Contacts</h3>
            <ul class="list">
                <li>Gmail</li>
                <li>twitter</li>
                <li>facebook</li>
            </ul>
        </div>
        <div class="location">
            <h3>Location</h3>
            <ul class="list">
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit.</li>
            </ul>
        </div>
        </div>
    </div>
</body>
</html>