<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Up</title>
    <link rel="stylesheet" href="../static/css/shared.css"/>
    <link rel="stylesheet" href="../static/css/mainforms.css"/>
</head>
<body>
    <div class="topnav">
        <div><h3><i>F1</i></h3><h4>Simulator</h4></div>
        <ul class="nav">
            <a href="index.html"><li>Home</li></a>
            <a href="login.html"><li>Login</li></a>
            <a href="signup.html"><li>SignUp</li></a>
        </ul>
    </div>
    <form class="mainform">
        <input type="text" class="text" placeholder="Username"/>
        <input type="text" class="text" placeholder="Password"/>
        <input type="submit" class="btn"/>
    </form>
</body>
</html>